.greyish-back{
    background-color: #121212;
}

.text-white{
    color: white;
}

.main {
    padding: 10px;
    top: 10px; /* Adjust based on your layout */
    /* right: 15px; */
    border-radius: 20px;
    color: white;
    position: fixed;
    /* height: calc(100vh - 100px); */
    width: 100%;
    height: calc(100vh - 225px); /* Adjust based on your layout */
    overflow: scroll;
    z-index: 1;
}

body {
    font-family: "Inter", system-ui;
    text-align: center;
    background-color: black;
    color: rgb(245, 236, 220);
    overflow: hidden;
}
#icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35px;
    height: auto;
    margin: auto;
  }
body {
    min-width: 1200px; /* Set your desired minimum width */
    overflow-x: hidden;  /* Allow horizontal scrolling if the window is too small */
}


#player-container {
    margin: 20px auto;
    max-width: 600px;
}

#album-art {
    width:50%;
    height: auto;
    border-radius: 20px;
    filter: drop-shadow(-8px 9px 8px #4444dd64);
}






.hide{
    display: none;
}
.show{
    position: fixed;
    top: 1px;
    right: 80px;
}
.show2{
    position: fixed;
    top: 10px;
    right: 140px;
}
.user{
    position: fixed;
    top: 0px;
    right: 10px;
}


#song-info {
    text-align: start;
    width: 80%;
    margin: auto;
}
#song-name{
    font-size: 150%;
}
#song-artist{
    color: rgb(154, 152, 152);
}
#song-name,
#song-artist {
    display: block; /* or inline-block */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* Ensure this matches the parent width */
}


.audio_controls{

}

.audio_controls button {
    font-size: 20px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    margin: 0 10px;
  }

.audio_controls button:hover {
    color: #0056b3;
  }

.audio_controls button:focus {
    outline: none;
  }

#seek-container {
    width: 85%;
    margin: auto;


}

#seek-bar {
    width: 100%;
    color: black;
}

#volume-container{

}

#queue_toggle{
    background-color: black;
    border-style: none;
    color: white;
    position: fixed;
    bottom: 50px;
    right: 220px;
}

#bottom_bar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 5;
    display: none;
    background-image: linear-gradient(#e91e627e, #6a3ce892);
}



#notify{
    bottom: 150px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
    max-width: 30%;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid white;
    display: none;
    color: white;
}
.modal-play{
    top: 100px;
    position: fixed;
    left: 54%;
    transform: translate(-50%, 0);
    width: 50%;
    height: fit-content;
    max-height: 60vh;
    padding: 10px;
    display: none;
    background-color:#121212 ;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 1000px rgba(79, 79, 79, 0.534);
    overflow: scroll;
    padding: 20px;

}

#album-art-bottom{
    width: 40px;
    border-radius: 10px;

}
#song-name-bottom{
    vertical-align: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%; /* Ensure this matches the parent width */
    color: white;
    padding-top: 7px;
}
#more{
    position: fixed;
    bottom: 50px;
    left: 0;
    background-color: #121212;
    width: 100%;
    border-style: none;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    height: 70px;




}
#bottom_buttons{
    position: fixed;
    bottom: 0;
    color: wheat;
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: #121212;


}

/*#play-pause-button{*/
/*    font-size: xx-large;*/
/*}*/
/*#next-button{*/
/*    font-size: x-large;*/
/*}*/
/*#prev-button{*/
/*    font-size: x-large;*/
/*}*/
#drag{
    height: 10px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    background-color: rgb(174, 170, 170);
}

#drag-container{
    height: 20px;
    width: 50%;
    margin: auto;

}
