{% extends 'basic.html' %}
{% block content %}
<style>
  .mb-3 {
    margin: auto;
    max-width: 500px;
  }
</style>
    <h1>Add Playlist</h1>
    <form action="/new_playlist">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    {{message}}

{% endblock %}