{% extends 'basic.html' %}
{% block content %}

        <h1>Search</h1>
        <br>
        <input id="searchInput" class="form-control" type="text" placeholder="Type to search" aria-label="default input example" style="margin:auto; max-width:300px;">
        <br>
        <ol class="list-group list-group-numbered" id="searchResults" style="text-align: start; background-color: #121212; color:white;">

        </ol>
        <!--<table class="table" id="search">-->
        <!--  <thead>-->
        <!--    <tr>-->
        <!--      <th scope="col"></th>-->
        <!--      <th scope="col">Title</th>-->
        <!--      <th scope="col">Artist</th>-->

        <!--      <th scope="col">Playlist</th>-->
        <!--    </tr>-->
        <!--  </thead>-->
        <!--  <tbody id="searchResults">-->
        <!--  </tbody>-->
        <!--</table>-->
        <script>

        </script>

{% endblock %}



